@charset "utf-8";

._box{
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background:rgba(0,0,0,0.5);
    z-index: 999; display: none;
}
._box .back{
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
}
._box .back1{
    position: absolute; left: 999px; top: 0;
    width: 95px; height: 95px;
}
._box .box{
    position: absolute; left: 413px; top: 257px;
    width: 1094px; height: 566px;
    background: url(../img/box.png) no-repeat;
    display: none;
}
._box .pic{
    position: absolute; left: 120px; top: 175px;
    width: 368px; height: 240px;
    border: 1px solid #48b2ff;
}
._box .com{
    position: absolute; left: 0px; top: 437px;
    width: 100%; height: 50px;
    font-size: 24px; color: #48b2ff;
    text-align: center;
}
._box .tit{
    position: absolute; left: 0px; top: 90px;
    width: 100%; height: 80px; text-align: center;
    font-size: 24px; color: #52ddf6;
}
._box .tit_en{
    position: absolute; left: 0px; top: 125px;
    width: 100%; height: 80px; text-align: center;
    font-size: 14px; color: #52ddf6;
}
._box .swiper-container{
    position: absolute; left: 528px; top: 170px;
    width: 476px; height: 290px;
    font-size: 17px; color: #52ddf6;
    overflow: hidden;
}
._box .info{
    line-height: 33px; text-align:justify
}
._box .info_en{
    line-height: 33px; font-size: 16px; text-align:justify
}

._box .swiper-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 50px;
}

._box .swiper-scrollbar{
    background: rgba(255, 255, 255, 0.1);
}
._box .swiper-scrollbar-drag{
    background: rgba(255, 255, 255, 0.5);
}